<log4net debug="false">
  <![CDATA[默认日志]]>
  <appender name="defaultAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <!--日志文件名开头与保存路径-->
    <file value="logs/default.log"/>
    <param name="AppendToFile" value="true"/>
    <!--多线程时采用最小锁定-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
    <datePattern value=".yyyy-MM-dd"/>
    <!--是否追加到文件,默认为true，通常无需设置-->
    <appendToFile value="true"/>
    <!--变换的形式为日期，这种情况下每天只有一个日志-->
    <!--此时maxSizeRollBackups和maximumFileSize的节点设置没有意义-->
    <!--<rollingStyle value="Date"/>-->
    <!--变换的形式为日志大小-->
    <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
    <rollingStyle value="Size"/>
    <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
    <maxSizeRollBackups value="100"/>
    <!--每个日志文件的最大大小-->
    <!--可用的单位:KB|MB|GB-->
    <!--不要使用小数,否则会一直写入当前日志-->
    <maximumFileSize value="10000KB"/>
    <!--目录数量-->
    <countDirection value="1"/>
    <!--是否固定日志名称-->
    <staticLogFileName value="true"/>
    <!--日志格式-->
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date %5level - %message%newline"/>
      <!--<conversionPattern value="%date [%t]%-5p %c - %m%n"/>-->
    </layout>
  </appender>
  <![CDATA[控制台输出]]>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %message%newline" />
    </layout>
  </appender>

  <root>
    <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
    <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
    <priority value="ALL"/>
    <appender-ref ref="defaultAppender"/>
  </root>
</log4net>